<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Page</title>
  </head>
  <body>
    <h2>Text input fields</h2>

    <form action="/" method="POST">
      <label>First name:</label><br />
      <input type="text" name="name" /><br />
      <label>Last name:</label><br />
      <input type="text" name="last_name" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
    {% for record in data.data %}
    <li>
      {{ record.name }} {{ record.last_name }}
      <a
        href="https://supabase.com/dashboard/project/carqyapehsjquwcudjgl/editor/28552"
        >link to dbase</a
      >
    </li>
    {% endfor %}
  </body>
</html>
